.container{
  /* margin: 20px 200px; */
  display: block;
}
.items{
  /* margin: 20px 200px; */
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.card{
  border: 1px solid black;
  margin: 10px 0;
  padding: 4px;
  border-radius: 4px;

}

.button{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.button button{ 
  /* margin: 100%; */
  padding: 6px;
}

.premium {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 40px auto;
  width: 140px;
  gap: 20px;
}
.premium a {
  /* border: 14px; */
  color: blue;
  background-color: grey;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}